<div class="data-wrapper">
    <ul class="filtered-student" *ngIf= "isValid(student)">
        <li *ngFor="let data of student">
            <span class="name">{{data.familyName+", "+data.givenName}}</span>
            <span class="dob">DOB: <span class="value">{{data.dob | date:'MM/d/yyyy'}}</span></span>
            <span class="admit-date">Admitted: <span class="value">{{data.admitDate | date:'longDate'}}</span></span>
            <span class="grad-date">Anticipated Graduation: <span class="value">{{data.anticipatedGraduationDate | date:'MMM y'}}</span></span>
            <span class="mentor">Mentor: <span class="value">{{data.mentor.familyName+", "+data.mentor.givenName}}</span></span>
        </li>
    </ul>
    <h1 *ngIf= "!isValid(student)"> No data Available </h1>
</div>