.department-name-tooltip {
    background: black;
    position: absolute;
    top: 0;
    padding: 0.25vw 0.5vw;
    border-radius: 0.25vw;
  }
  .department-name-tooltip:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -0.6vw;
    left: calc(50% - .4vw);
    width: 0;
    height: 0;
    border-left: 0.8vw solid transparent;
    border-right: 0.8vw solid transparent;
    border-top: 0.8vw solid black;
  }
  .department-name-tooltip .tooltip-content {
    color: white;
    font-size: 0.7em;
    line-height: 1.2;
  }